<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Title</title>
</head>
<body>
<h2>Изменение пользователя</h2>
<div>
    <form action="#" th:action="@{/users/updateUser}" th:object="${user}" th:method="POST">
        <input type="hidden" th:field="*{id}" th:value="*{id}"/>
        <label for="name">Имя</label>
        <input type="text" th:field="*{name}" id="name"/>
        <br><br>
        <label for="surname">Фамилия</label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <br><br>
        <label for="age">Возраст</label>
        <input type="text" th:field="*{age}" id="age"/>
        <br><br>
        <input type="submit" value="Изменить">
    </form>
</div>

</body>
</html>